
/* Other Form Element Styles */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Additional Styles */
.form {
  border-radius: 5px;
  background-color: #F7F3F7;
  padding: 20px;
  margin-left: 700px;
  position: relative;
  bottom: 120px;
}

.text {
  padding: 20px;
  margin-right: 1000px;
  position: relative;
  top: 280px;
  font-size: 30px;
}

#submitBtn {
  background-color: #459ED9;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid #459ED9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

#submitBtn:hover {
  background-color: #a9d0ea;
}
