.home-page-image {
    width: 100%;
    height: calc(100vh - 100px); /* Adjust for header height or other fixed elements */
    display: block;
    position: fixed;
    top: 370px; /*will move the image up or down!!! */
    left: 0;
    z-index: -1; /* Behind other elements */
}

.home-page-whisk-image {
    width: 20vw; 
    height: 20vh;
    display: block;
    position: fixed;
    bottom: 520px; /*will move the image up or down!!! */
    left: -15;
    z-index: -1; /* Behind other elements */
}