/* In style.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');

/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5rem;
    color: #493149;
    background-color: #F7F3F7;
    min-height: 100vh;
    margin: 0;
}

/* Header Styles */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 40px;
}

.brand-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-image {
    padding: 10;
    width: 300px; /* Adjust the width as needed */
    margin-right: 10px; /* Add margin for separation */
    margin-left: 10px;
    margin-top: 130px;
}

.brand-logo-name {
    font-size: 2rem;
}

/* Navigation Styles */
.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 1rem;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #A578A5;
}

/* Button Styles */
.contact-button, .Menu-button, .Home-button, .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: white;
    border: 2px solid #493149;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.contact-button:hover, .Menu-button:hover, .btn:hover {
    background-color: #A578A5;
    color: white;
}



/* Main Section Styles */
.home-main-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
}

.title {
    font-weight: 500;
    font-size: 3em;
    position: absolute;  
    top: 60px; /* Adjust as needed */
    left: 50%; /* Align horizontally */
    transform: translateX(-50%);
    margin-bottom: 40px;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    position: absolute;
    top: 150px; /* Adjust as needed */
    left: 50%; /* Align horizontally */
    transform: translateX(-50%);
    margin-bottom: 40px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F7F3F7; /* Add your preferred background color */
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center; /* Center align text */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px; /* Adjust font size as needed */
    color: #666; /* Adjust text color */
}




.home-page-image0 {
    width: 30vw;
    height: calc(100vh - 100px); /* Adjust for header height or other fixed elements */
    display: block;
    position: fixed;
    top: 370px; /*will move the image up or down!!! */
    left: 100px;
    z-index: -1; /* Behind other elements */
    padding: 20px;
}

.home-page-image1 {
    width: 30vw;
    height: calc(100vh - 100px); /* Adjust for header height or other fixed elements */
    display: block;
    position: fixed;
    top: 370px; /*will move the image up or down!!! */
    left: 10;
    z-index: -1; /* Behind other elements */
    padding: 20px;
}

.home-page-image2 {
    width: 30vw;
    height: calc(100vh - 100px); /* Adjust for header height or other fixed elements */
    display: block;
    position: fixed;
    top: 370px; /*will move the image up or down!!! */
    right: 100px;
    z-index: -1; /* Behind other elements */
    padding: 20px;
}

.home-page-whisk-image {
    width: 5vw; 
    height: 16vh;
    display: block;
    position: fixed;
    bottom: 540px; /*will move the image up or down!!! */
    right: 800px;
    z-index: -1; /* Behind other elements */
}

.home-page-mitt-image {
    width: 5vw; 
    height: 13vh;
    display: block;
    position: fixed;
    bottom: 560px; /*will move the image up or down!!! */
    left: 770px;
    z-index: -1; /* Behind other elements */
}